@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/* Variables */

:root {
    --main-color: #dadada;
    --secondary-color: #007acc;
    --main-text-color: #004add;
    --text-color: #333;
    --border-color: #9f9f9f;
}

/* General */

body {
    background-color: var(--main-color);
}

/* Project */

.highlight {
    font-weight: 600;
}

#container {
    display: flex;
    flex-direction: row;
}


/* bio container */

#bio-container {
    max-width: 20vw;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    padding: 30px 12px;
    background-color: #ccc;
    color: var(--main-text-color);
    border-right: 2px solid var(--border-color);
}

#bio-container h2 {
    margin-bottom: 20px;
}

#bio-container p {
    margin-bottom: 20px;
}

#profile-pic {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#social-links li a {
    color: var(--main-text-color);
    font-size: 25px;
    transition: 150ms;
}

#social-links li a:hover {
    opacity: .85;
}

#mail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--main-text-color);
}

#mail-container a {
    text-decoration: none;
}

/* About me container */

#about-me {
    padding: 20px;
    color: var(--main-text-color);
}

#name {
    margin-bottom: 5px;
}

#description {
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 300;
}

#btn-projects {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 8px 12px;
    width: 150px;
    background-color: var(--main-color);
    margin-top: 10px;
    display: flex;
    gap: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    transition: 450ms;
}

#btn-projects:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}


#skills-section-title {
    margin: 20px 0;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    font-size: 2rem;
    font-weight: 500;
}

#skills-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.skills-title {
    padding-left: 5px;
    border-left: 3px solid var(--secondary-color);
    font-size: 24px;
    margin: 20px 0;
}

.skills-box i {
    font-size: 45px;
}

/* Responsive */

@media (max-width: 950px) {
    #bio-container {
        min-width: 30vw;
        width: 40%;
    }

    #skills-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    #container {
        flex-direction: column;
    }

    #bio-container {
        min-width: 100vw;
        min-height: 80vh;
    }

    #introducting {
        text-align: center;
        padding: 10px 0;
    }

    #about-me #name,
    #about-me #title {
        text-align: center;
    }

    #about-me #title {
        margin-bottom: 30px;
    }

}