.logo
  margin-top: -40px
  width: 200px
  height: 100px

  .logofooter
    margin: 0

@mixin celularMenor
  @media (max-width: 480px)
    @content

@mixin celular
  @media (max-width: 550px)
    @content
    
@mixin tablet
  @media (max-width: 940px)
    @content

@mixin laptop
  @media (max-width: 1100px)
    @content


@mixin projectsPattern
  width: 480px
  max-width: 95%
  height: 240px
  background-size: cover
  background-position: center
  margin-bottom: 1rem
  position: relative
  border-radius: 10px
  background-repeat: no-repeat

  @include celular
    width: 400px
    height: 200px
  @include celularMenor
    width: 300px
    height: 150px



@mixin projectsHover
  background-size: 105%
  background-position: center
  background-size: cover
  background-repeat: no-repeat

