@use '../1-base/variables'
@use '../3-modules/utilities'
  
#about
  height:100vh
  margin: 4rem 0

.about-me-title
  font-size: 2.5rem
  color: variables.$primary-color
  text-align: center     
  
  @include utilities.celular
    margin-bottom: 2rem

#about-me-description
  display: flex
  justify-content: center
  align-items: center
  gap: 10%
  height: 60vh

  @include utilities.celular
    flex-direction: column-reverse
    height: auto
    gap: 2rem

  .about-me
    color: variables.$primary-color
    width: 40%

    @include utilities.celular
      width: 90%
      text-align: center
      font-size: 1.2rem

    &-title
      font-size: 2.5rem
    
    &-subtitle
      line-height: 1.5
      font-size: 1.1rem
      margin-top: 1rem
      color: variables.$text-color
        
      @include utilities.celularMenor
        font-size: 1rem

  .about-me-img
    width: 250px
    height: 250px

.about-me-langs
  height: 30vh
  margin: 3rem 0

  &-title
    text-align: center
    font-size: 2rem
    color: variables.$text-color
    margin-bottom: 2rem

    @include utilities.celularMenor
        font-size: 1.3rem

  &-list
    display: flex
    justify-content: space-evenly
    align-items: center
    position: relative
    padding:2rem
    margin: 0 auto 2rem
    max-width: 1080px

    @include utilities.celularMenor
      justify-content: space-between

    &-box
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      color: variables.$text-color
      gap: 10px

      p
        @include utilities.celularMenor
          display: none

      &-tech
        width: 50px
        height: 50px

        @include utilities.celularMenor
          width: 40px
          height: 40px
      
