@use '../1-base/variables'
@use '../3-modules/utilities'
  
#projects
  margin-bottom: 4rem

  h3
    text-align: center
    font-size: 2.5rem
    color: variables.$text-color
    margin: 4rem 0

.projects-container
  display: grid
  grid-template-columns: 1fr 1fr
  padding: 2rem
  max-width: 1440px
  position: relative
  margin: auto

  @include utilities.tablet
    grid-template-columns: 1fr

  @include utilities.celular
    padding: 0px 0px 0px 25px

  .project-box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-bottom: 2.5rem
    z-index: 0

    .project
      text-align: center
      color: variables.$text-color
      max-width: 95%
      
      &-title
        font-size: 1.1rem
        margin-bottom: 1rem
      
        @include utilities.celularMenor
          width: 90%
      &-about
        color: variables.$secondary-text
        line-height: 1.5
        font-size: .9rem
        text-align: center  

        @include utilities.celularMenor
          width: 90%

    #project1
      background: url(../img/projeto1.png)
      @include utilities.projectsPattern

      &:hover
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/projeto1.png)
        @include utilities.projectsHover


      .see-more
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        padding: 8px 12px
        border: 1px solid variables.$primary-color
        text-decoration: none
        color: variables.$primary-color
        text-transform: uppercase
        border-radius: 5px
        transition: 300ms
        opacity: 0

        &:hover
          color: variables.$text-color
          background-color: variables.$primary-color
          border:  1px solid transparent
      
      .hover
        opacity: 1 
    
    #project2
      background-image: url('../img/projeto2.png')
      @include utilities.projectsPattern
      
      &:hover
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/projeto2.png)
        @include utilities.projectsHover

      .see-more
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        padding: 8px 12px
        border: 1px solid variables.$primary-color
        text-decoration: none
        color: variables.$primary-color
        text-transform: uppercase
        border-radius: 5px
        transition: 300ms
        opacity: 0

        &:hover
          color: variables.$text-color
          background-color: variables.$primary-color
          border:  1px solid transparent
      
      .hover
        opacity: 1    

    #project3
      background-image: url('../img/projeto3.png')
      @include utilities.projectsPattern

      &:hover
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/projeto3.png)
        @include utilities.projectsHover

      .see-more
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        padding: 8px 12px
        border: 1px solid variables.$primary-color
        text-decoration: none
        color: variables.$primary-color
        text-transform: uppercase
        border-radius: 5px
        transition: 300ms
        opacity: 0

        &:hover
          color: variables.$text-color
          background-color: variables.$primary-color
          border:  1px solid transparent
      .hover
        opacity: 1  
    
    #project4
      background-image: url('../img/projeto4.png')
      @include utilities.projectsPattern

      &:hover
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/projeto4.png)
        @include utilities.projectsHover


      .see-more
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        padding: 8px 12px
        border: 1px solid variables.$primary-color
        text-decoration: none
        color: variables.$primary-color
        text-transform: uppercase
        border-radius: 5px
        transition: 300ms
        opacity: 0

        &:hover
          color: variables.$text-color
          background-color: variables.$primary-color
          border:  1px solid transparent
      .hover
        opacity: 1 